<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048375441547-3lh0o9jqflqk1uji0qragmu6kp6cqeml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048375441547-3lh0o9jqflqk1uji0qragmu6kp6cqeml</string>
	<key>API_KEY</key>
	<string>AIzaSyBnps_AxH6kt30BEEC_Rlws5fyWrYJXn74</string>
	<key>GCM_SENDER_ID</key>
	<string>1048375441547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edwardsPet</string>
	<key>PROJECT_ID</key>
	<string>petrush-f03e1</string>
	<key>STORAGE_BUCKET</key>
	<string>petrush-f03e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048375441547:ios:d2eb1999d651262d367c8e</string>
</dict>
</plist>